/* div {
    color: red;
    text-align: left;
    font-size: 3rem;
}
.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  } */
.olympic-ring-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center ;
  margin-top: 50px;
}
.top-row{
  display: flex;
  gap: 15px;
}
.bottom-row{

  display: flex;
  justify-content: center;
  gap: 15px;
  position: absolute;
  top: 110px;
}
.ring {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-width: 10px;
    border-style: solid;
  }
  .blue {
    border-color: blue;
  }
  .green {
    border-color: green;
  }
  .yellow {
    border-color: yellow;
  }
  .red {
    border-color: red;
  }
  .black {
    border-color: black;
  }